- if Radiant::Config['multi_site.scoped?']
  - content_for :page_scripts do
    :plain
      SiteMap.prototype.toggleBranch = function(row, img) {
        this.expandedRows = [];
        this.saveExpandedCookie();
        var id = row.id.split("-").last();
        window.location = <%= admin_pages_path.to_json %> + "?root=" + id;
      };
  = render :partial => 'admin/shared/site_jumper'