#site_jumper{:style => 'padding: 0 4px 0 4px; margin: 6px 0 0 0; border: 5px solid #c00; background-color: #c00; font-size: 80%; font-style: normal; float: left;'}
  %form
    %label{:for => 'site_chooser'}
      jump to: 
    %select{:id => "site_chooser", :name => "site", :onChange => 'this.form.submit()'}
      = options_from_collection_for_select(Site.find(:all), 'id', 'name', current_site.id)
    = link_to "new site", new_site_url
    |
    = link_to "edit sites", sites_url


