- unless current_user.respond_to?(:site) && current_user.site && Site.several?
  - content_for :page_css do
    :sass
      #site_chooser
        position: absolute
        top: 88px
        left: 0
        background-color: #EAE3C5
        padding: 4px
        a, a:visited
          margin: 20px 4px
          color: #7d796c
          margin: 5px
          padding: 0 8px 0 15px
          font-size: 0.9em
          font-weight: normal
          text-decoration: none
          z-index: 1000
        a:hover
          color: black
        a.chooser
          background: transparent url(/images/admin/showsitemenu.png) no-repeat 2px 5px
        a.chooser:hover
          background-image: url(/images/admin/showsitemenu_over.png)
        #site_choices
          margin: 6px
          line-height: 1.6
          
  #site_chooser
    = link_to "change site", '#', :class => 'chooser', :onclick => "$('site_choices').toggle();"
    #site_choices{:style => 'display: none'}
      - Site.find(:all).each do |site|
        = link_to site.name, request.path + "?site_id=#{site.id}"
        %br