- unless current_user.respond_to?(:site) && current_user.site
  - content_for :page_css do
    :sass
      #content
        padding-top: 2.5em
        position: relative
      #site_jumper 
        position: absolute
        top: 6px
        left: 8px
        font-size: 80%
        line-height: 2em
        padding-left: 1.5em
        padding-top: 0.25em
        color: #666
        a, a:visited
          color: #999
  #site_jumper
    - form_tag '', {:method => 'get'} do
      %label{:for => 'site_chooser'}
        site: 
      %select{:id => "site_chooser", :name => "site_id", :onChange => 'this.form.submit()'}
        = options_from_collection_for_select(Site.find(:all), 'id', 'name', current_site.id)
      = link_to "new site", new_admin_site_url
      |
      = link_to "edit sites", admin_sites_url


